<div class="title">
	<div class="container">
		<div class="fl">
			<h1 class="averia" title="{{recipe.title}}">{{recipe.title}}</h1>
			<ul class="recipemeta">
				<li><i class="pot white sprite" title="Bereidingstijd"></i>{{recipe.cookingTime}} minuten</li>
				<li><i class="bestek white sprite" title="Klaar om op te genieten"></i>{{recipe.readyTime}} minuten</li>
				<li class="hide4print"><i class="heart white sprite"></i>
				{% if recipe.likedBy|length == 0 %}
				Nog niemand heeft dit geproefd.
				{% else %}
				{{recipe.likedBy|length}} {{recipe.likedBy|length == 1 ? 'iemand vindt' : 'mensen vinden'}} dit lekker
				{% endif %}
				</li>
			</ul>
		</div>
		{% if detail is defined %}
		<div class="printrecipe"><a href="javascript:window.print()"><i class="sprite white printer"></i>Print deze pagina</a></div>
		{% endif %}
	</div>
</div>