<div class="one-third sidebar">
	<p><a href="{{ path('design311website_recepten_add') }}" class="button button-orange addrecipe"><i class="sprite plus white"></i>Recept toevoegen</a></p>
	<p><a href="{{ path('design311website_recepten_shoppinglist') }}" class="button shoppinglist"><i class="sprite cart white"></i>Winkellijstje bekijken (<span class="shoppinglistcount">{% if app.user %}{{app.user.shoppinglist|length}}{% else %}0{% endif %}</span>)</a></p>
	{% if detail is defined and detail == true %}
	<p><a href="#" class="like ajax-button button" data-ajax="{{path('design311website_recepten_like', {'recipeId': recipe.id})}}" title="Recept lekker vinden"><i class="sprite heart{% if app.user in recipe.likedBy %} orange{% endif %}"></i>Vind ik lekker</a></p>
	<p><a href="#" class="save ajax-button button" data-ajax="{{path('design311website_recepten_save', {'recipeId': recipe.id})}}" title="Recept bewaren"><i class="sprite save{% if app.user in recipe.savedBy %} orange{% endif %}"></i>Bewaren voor later</a></p>
	<p><a href="#" class="shop ajax-button button" data-ajax="{{path('design311website_recepten_shop', {'recipeId': recipe.id})}}" title="Recept toevoegen aan winkellijstje"><i class="sprite cart{% if app.user in recipe.shoppinglistFrom %} orange{% endif %}"></i>Toevoegen aan winkellijstje</a></p>
	{% endif %}
	<div class="widget search-recipe">
		<h3>Recepten zoeken op ingredient</h3>
		{{ form_start(form) }}
			{{ form_row(form.ingredients) }}
			{{ form_row(form.category) }}
			{{ form_row(form.diet) }}
		{{ form_end(form) }}
	</div>
	{% if detail is defined and detail == true %}
	<div class="widget recipe-user">
		{% if recipe.user.avatar %}
			<img src="{{ asset(recipe.user.avatar) | apply_filter('avatar') }}" alt="Avatar {{recipe.user.displayname}}">
		{% endif %}
		{{recipe.title}}, een recept van:
		<h3>{{recipe.user.displayName}}</h3>
		<p>{{recipe.user.description}}</p>
		<ul class="user-social">
			{% if recipe.user.website is not null %}
			<li><a href="{{recipe.user.website}}" target="_blank"><i class="sprite medium website"></i></a></li>
			{% endif %}
			{% if recipe.user.facebook is not null %}
			<li><a href="{{recipe.user.facebook}}" target="_blank"><i class="sprite medium facebook"></i></a></li>
			{% endif %}
			{% if recipe.user.twitter is not null %}
			<li><a href="{{recipe.user.twitter}}" target="_blank"><i class="sprite medium twitter"></i></a></li>
			{% endif %}
			{% if recipe.user.googleplus is not null %}
			<li><a href="{{recipe.user.googleplus}}" target="_blank"><i class="sprite medium googleplus"></i></a></li>
			{% endif %}
		</ul>
		<p><a href="{{path('design311website_recepten_user', {'username': recipe.user.username})}}">Bekijk alle recepten van {{recipe.user.displayName}}</a></p>
	</div>
	{% endif %}
</div>