{% extends 'Design311WebsiteBundle:Mail:layout.html.twig' %}

{% block message %}

	<p><strong>Uitnodiging geaccepteerd</strong></p>

	<p><a href="{{url('design311website_profile_view', {'username': user.username})}}">{{user.displayName}}</a> zal je vergezellen op je diner "<a href="{{url('design311website_dinners_detail', {'permalink': dinner.permalink})}}">{{dinner.title}}</a>".</p>

	<p>Als u {{user.displayName}} wil contacteren dan kan u reageren op deze e-mail.</p>
	
{% endblock %}