{% extends 'Design311WebsiteBundle:Mail:layout.html.twig' %}

{% block message %}

	<p><strong>Deelnameverzoek geaccepteerd</strong></p>

	<p><a href="{{url('design311website_profile_view', {'username': user.username})}}">{{user.displayName}}</a> heeft je deelnameverzoek voor het diner "<a href="{{url('design311website_dinners_detail', {'permalink': dinner.permalink})}}">{{dinner.title}}</a>" geaccepteerd, als je vragen hebt kan je contact opnemen met hem/haar door deze mail te beantwoorden.</p>

	<p>Als u {{user.displayName}} wil contacteren dan kan u reageren op deze e-mail.</p>
	
{% endblock %}