{% extends 'Design311WebsiteBundle:Mail:layout.html.twig' %}

{% block message %}

	<p><strong>Deelnameverzoek geweigerd</strong></p>

	<p><a href="{{url('design311website_profile_view', {'username': user.username})}}">{{user.displayName}}</a> heeft je deelnameverzoek voor het diner "<a href="{{url('design311website_dinners_detail', {'permalink': dinner.permalink})}}">{{dinner.title}}</a>" geweigerd. <a href="{{url('design311website_dinners')}}">Ga snel op zoek naar een ander etentje!</a></p>
	
{% endblock %}