<h1>Chaw.be</h1>
<p>{{name}} wil je graag uitnodigen voor zijn/haar dinner op <strong>{{dinner.date|date('d/m/Y')}}</strong> om <strong>{{dinner.date|date('G:i')}}</strong></p>

<blockquote>
	{{message}}	
</blockquote>

<p>Deze uitnodiging <a href="{{ url('design311website_dinners_invite_accept', { 'permalink': dinner.permalink, 'inviteId': invite.id }) }}">accepteren</a> of <a href="{{ url('design311website_dinners_invite_decline', { 'permalink': dinner.permalink, 'inviteId': invite.id }) }}">liever niet</a></p>

<p>U kan {{name}} ook om meer informatie vragen door op deze e-mail te antwoorden.</p>