{% extends 'Design311WebsiteBundle:Mail:layout.html.twig' %}

{% block message %}
    
	<p>{{name}} wil graag deelnemen aan je dinner en hij/zij stuurde het volgende bericht:</p>

	<blockquote style="background:#dddddd;padding:20px;margin-left:20px">
		{{message}}	
	</blockquote>

	<p><a href="{{ url('design311website_dinners_participant_accept', { 'permalink': dinner.permalink, 'participantId': participant.id }) }}">Accepteer</a> of <a href="{{ url('design311website_dinners_participant_decline', { 'permalink': dinner.permalink, 'participantId': participant.id }) }}">liever niet</a></p>

	<p>U kan {{name}} ook om meer informatie vragen door op deze e-mail te antwoorden.</p>
	
{% endblock %}