{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block content %}
<script>
	var addressField = '{{ form_row(form.address) }}';
</script>
<div class="container">
	{{ form_start(form) }}
		{{ form_row(form.title) }}
		{{ form_row(form.date) }}
		{{ form_row(form.menu) }}
		{{ form_row(form.maxinvitees) }}
		{{ form_row(form.price) }}
		{% if app.user.address is null %}
			{{ form_row(form.change_address) }}
			<div id="edit_address"></div>
		{% else %}
			{{ form_row(form.change_address, {'value': '0'}) }}
			<div id="current_address"><strong>Adres</strong> <a href="#" id="change_address">(wijzigen)</a><br>
			{{app.user.address.street}} {{app.user.address.number}}<br>
			{{app.user.address.zipcode}} {{app.user.address.city}}<br>
			{{app.user.address.country}}
			</div>
		{% endif %}
		{{ form_row(form.metafields) }}
		{{ form_row(form.diet) }}
		{{ form_row(form.photos) }}
		{{ form_row(form.submit) }}
	{{ form_end(form) }}
</div>
{% endblock %}

{% block footer %}
    <script type="text/javascript">
		$(function(){

			// address changing
			$('#address').append(addressField);

			$('#change_address').click(function(){
				$(this).parent().hide().after('<div id="edit_address">'+addressField+'<a href="#" id="cancel_change">Annuleren</a></div>');
				$('#dinner_change_address').val(1);
				return false;
			})

			$('form').on('click', '#cancel_change', function(){
				$(this).parent().remove();
				$('#current_address').show();
				$('#dinner_change_address').val(0);
				return false;
			})

			// adding photos
			var photoHolder;

			// setup an "add a photo" link
			var addPhotoLink = $('<p><a href="#" class="add_photo_link">Add a photo</a></p>');
			var deleteLink = '<a href="#" class="deleterow">delete</a>';

		    // Get the ul that holds the collection of photos
		    photoHolder = $('div#dinner_photos');

		    // add the "add a photo" anchor and li to the photos ul
		    photoHolder.append(addPhotoLink);

		    // count the current form inputs we have (e.g. 2), use that as the new
		    // index when inserting a new item (e.g. 2)
		    photoHolder.data('index', photoHolder.children('div').length);

		    photoHolder.children('div').each(function(i, el) {
		    	$(el).append(deleteLink);
		    });

		    addPhotoLink.on('click', function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();

		        // add a new photo form (see next code block)
		        addInput(photoHolder, addPhotoLink, true);
		    });

		    $('form').on('click','.deleterow', function(e) {
		    	e.preventDefault();
		    	$(this).parent().remove();
		    });

			function addInput(holder, link, allowDelete) {
			    // Get the data-prototype explained earlier
			    var prototype = holder.data('prototype');

			    // get the new index
			    var index = holder.data('index');

			    // Replace '__name__' in the prototype's HTML to
			    // instead be a number based on how many items we have
			    var newForm = prototype.replace(/__name__/g, index);

			    // increase the index with one for the next item
			    holder.data('index', index + 1);

			    // Display the form in the page in an li, before the "Add a photo" link li
			    if (allowDelete) {
			    	var newFormContainer = $('<div></div>').append(newForm + deleteLink);
			    }
			    else{
			    	var newFormContainer = $('<div></div>').append(newForm);
			    }
			    link.before(newFormContainer);
			}
		});
	</script>
{% endblock %}
