{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block title %}Zelf Social Dining organiseren. Random People Dinners{% endblock %}
{% block description %}Op een originele manier netwerken? Nodig mensen uit bij je thuis om samen lekker te eten. Social dining is de nieuwe manier om mensen te leren kennen.{% endblock %}

{% block bodyclass %}dinnerform{% endblock %}

{% block content %}
<div class="container">
	{% if dinner is defined %}
		<h1 class="fl">Dinner bewerken</h1>
		<img src="{{ asset('bundles/design311website/img/loader.gif') }}" alt="Loading..." width="16" height="16" id="loading" class="submitloader">
		<div class="fr"><a href="#" class="button button-orange" id="topsubmit">Wijzigingen opslaan</a></div>
	{% else %}
	    <h1 class="fl">Dinner organiseren</h1>
		<img src="{{ asset('bundles/design311website/img/loader.gif') }}" alt="Loading..." width="16" height="16" id="loading" class="submitloader">
		<div class="fr"><a href="#" class="button button-orange" id="topsubmit">Dinner organiseren</a></div>
	{% endif %}
	<div class="clear"></div>
	{{ form_start(form, {'attr':{'autocomplete':'off', 'novalidate': 'novalidate'}} ) }}
		{{ form_row(form.title) }}
		<p class="inputinfo">Bijvoorbeeld: "BBQ voor 8 personen", "Italiaanse keuken" of "Gezellig dinner op ons terras"</p>
		{{ form_row(form.menu) }}
		<p class="inputinfo">Dit veld ondersteunt <a href="#" id="markdown-toggle">eenvoudige opmaak</a></p>
		<div class="onehalf">
			{% include 'Design311WebsiteBundle:Shared:markdown.html.twig' %}
			<div class="date">
				{{ form_row(form.date) }}
				<div class="inputinfo date-info"></div>
			</div>
			<div class="invitees">
				{{ form_row(form.maxinvitees) }}
			</div>
			<div class="price">		
				{{ form_row(form.price) }}
			</div>
			<i class="clear"></i>
			{{ form_row(form.inviteonly) }}
			<div class="diet">
				{{ form_row(form.diet) }}
				<p class="inputinfo">Staat je eetgewoonte er niet bij? Mail: <a href="mailto:info@chaw.be">info@chaw.be</a></p>
			</div>
			{% if dinner is defined %}
				{{ form_row(form.change_address, {'value': '0'}) }}
				<div id="current_address"><strong>Adres</strong> <a href="#" id="change_address">(wijzigen)</a><br>
				{{dinner.address.street}} {{dinner.address.number}}<br>
				{{dinner.address.zipcode}} {{dinner.address.city}}<br>
				{{dinner.address.country}}
				</div>
				<div id="edit_address" class="offscreen">
					{{ form_row(form.address) }}
					<a href="#" id="cancel_change">Annuleren</a>
				</div>
			{% else %}
			    {% if app.user.address is null %}
					{{ form_row(form.change_address) }}
					{{ form_row(form.address) }}
				{% else %}
					{{ form_row(form.change_address, {'value': '0'}) }}
					<div id="current_address"><strong>Adres</strong> <a href="#" id="change_address">(wijzigen)</a><br>
					{{app.user.address.street}} {{app.user.address.number}}<br>
					{{app.user.address.zipcode}} {{app.user.address.city}}<br>
					{{app.user.address.country}}
					</div>
					<div id="edit_address" class="offscreen">
						{{ form_label(form.address) }}
						<div id="dinner_address">
						{{ form_row(form.address.street, {'value': app.user.address.street}) }}
						{{ form_row(form.address.number, {'value': app.user.address.number}) }}
						{{ form_row(form.address.zipcode, {'value': app.user.address.zipcode}) }}
						{{ form_row(form.address.city, {'value': app.user.address.city}) }}
						{{ form_row(form.address.country, {'value': app.user.address.country}) }}
						</div>
						<a href="#" id="cancel_change">Annuleren</a>
					</div>
				{% endif %}
			{% endif %}
		</div>
		<div class="onehalf last">
			{% if form.photos|length == 0 %}
				{{form_label(form.photos)}}
				<p class="inputinfo">Met enkele foto's kan je je gasten laten zien wat ze kunnen verwachten, voeg optioneel enkele foto's van je eetkamer, je gerechten of jezelf toe.</p>
				{{form_widget(form.photos)}}
			{% else %}
				<script>var photofields = {};</script>
				{{form_label(form.photos)}}
				<p class="inputinfo">Met enkele foto's kan je je gasten laten zien wat ze kunnen verwachten, voeg optioneel enkele foto's van je eetkamer, je gerechten of jezelf toe.</p>
				<div id="dinner_photos" data-prototype="{{ form_widget(form.photos.vars.prototype)|e }}">
				{% for photofield in form.photos %}
			        <div class="photo-row">
			        	<script>
			        		photofields['{{photofield.vars.id}}'] = '{{ form_row(photofield.file) }}';
			        	</script>
			            {{ form_errors(photofield) }}
			            {{ form_row(photofield.title) }}
			            {% if photofield.file.vars.image_url is not null %}
			            	<div class="image">
								<img src="{{ photofield.file.vars.image_url | apply_filter('onehalf')}}" width="520" height="347">
							</div>
						{% else %}
							<div class="photofield-file" data-fileid="{{photofield.vars.id}}"></div>
			            {% endif %}
			        </div>
			    {% endfor %}
			    </div>
			{% endif %}
			<img src="{{ asset('bundles/design311website/img/loader.gif') }}" alt="Loading..." width="16" height="16" id="loading" class="submitloader">
			{% if dinner is defined %}
				{{ form_row(form.submit, {'label':'Wijzigingen opslaan'}) }}
			{% else %}
				{{ form_row(form.submit) }}
			{% endif %}
		</div>
	{{ form_end(form) }}
	<div class="clear"></div>
</div>
{% endblock %}

{% block footer %}
    <script type="text/javascript">
		$(function(){

			$('#topsubmit').click(function(){
				$('#dinner_submit').click();
				return false;
			})

			// address changing
			$('#change_address').click(function(){
				$(this).parent().hide();
				$('#edit_address').removeClass('offscreen');
				$('#dinner_change_address').val(1);
				return false;
			})

			$('form').on('click', '#cancel_change', function(){
				$(this).parent().addClass('offscreen');
				$('#current_address').show();
				$('#dinner_change_address').val(0);
				return false;
			})

			$('#dinner_price').blur(function(){
				var price = $(this).val();
				price = price.replace(',', '.');
				price = parseFloat(price);
				if (isNaN(price)) {
					price = '';
				};
				$(this).val(price);
			})

			$('#dinner_maxinvitees').blur(function(){
				var aantal = $(this).val();
				aantal = parseInt(aantal);
				if (isNaN(aantal)) {
					aantal = 1;
				};
				$(this).val(aantal);
			})

			function convertDate(date, type){
				if (type == 'us') {
					var days = date.slice(0, 2);
					var month = date.slice(3, 5);
					var year = date.slice(6, 10);
					return year + '-' + month + '-'+days;
				}
				else{
					var year = date.slice(0, 4);
					var month = date.slice(5, 7);
					var days = date.slice(8, 10);
					return days + '-' + month + '-'+year;
				}
			}

			var dateVal = $('#dinner_date_date').val();
			$('#dinner_date_date').val('notadate');
			if ($('#dinner_date_date').val() == 'notadate') {
				//input date not supported

				if (dateVal == '') {
					$('#dinner_date_date').val('DD-MM-JJJJ');
				}
				else{
					var date = convertDate(dateVal,'eu')
					$('#dinner_date_date').val(date);
				}

				$('form').submit(function(){
					var date = convertDate($('#dinner_date_date').val(),'us');
					$('#dinner_date_date').val(date);

					$(this).validate({
						errorPlacement: function(error,element) {
							return true;
						},
					});

					if (!$(this).valid()) {
						console.log($('#dinner_date_date').val());
						var date = convertDate($('#dinner_date_date').val(),'eu');
						$('#dinner_date_date').val(date);
						return false;
					}
					return true;
				})
			}
			else{
				$('#dinner_date_date').val(dateVal);
			}

			var timeVal = $('#dinner_date_time').val();
			if (timeVal == '') {
				$('#dinner_date_time').val('notatime');
				if ($('#dinner_date_time').val() == 'notatime') {
					$('#dinner_date_time').val('UU:MM');
				}
			}
			else{
				$('#dinner_date_time').val(timeVal);
			}



			// adding photos
			var photoHolder;

			// setup an "add a photo" link
			var addPhotoLink = $('<p><a href="#" class="add_photo_link button">Foto toevoegen</a></p>');
			var deleteLink = '<p><a href="#" class="deleterow">Foto verwijderen</a></p>';

		    // Get the ul that holds the collection of photos
		    photoHolder = $('div#dinner_photos');

		    // add the "add a photo" anchor and li to the photos ul
		    photoHolder.append(addPhotoLink);

		    // count the current form inputs we have (e.g. 2), use that as the new
		    // index when inserting a new item (e.g. 2)
		    photoHolder.data('index', photoHolder.children('div').length);

		    photoHolder.children('div').each(function(i, el) {
		    	$(el).append(deleteLink);
		    });

		    addPhotoLink.on('click', function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();

		        // add a new photo form (see next code block)
		        addInput(photoHolder, addPhotoLink, true);
		    });

		    $('form').on('click','.deleterow', function(e) {
		    	e.preventDefault();
		    	$(this).parent().parent().remove();
		    });

			function addInput(holder, link, allowDelete) {
			    // Get the data-prototype explained earlier
			    var prototype = holder.data('prototype');

			    // get the new index
			    var index = holder.data('index');

			    // Replace '__name__' in the prototype's HTML to
			    // instead be a number based on how many items we have
			    var newForm = prototype.replace(/<label class="required">__name__label__<\/label>/g, '');
			    newForm = newForm.replace(/<div id="dinner_photos___name__">/g, '<div id="dinner_photos___name__" class="photo-row">');
			    newForm = newForm.replace(/__name__/g, index);

			    // increase the index with one for the next item
			    holder.data('index', index + 1);

			    // Display the form in the page in an li, before the "Add a photo" link li
			    if (allowDelete) {
			    	var newFormContainer = $('<div></div>').append(newForm + deleteLink);
			    }
			    else{
			    	var newFormContainer = $('<div></div>').append(newForm);
			    }
			    link.before(newFormContainer);
			}
		});
	</script>
{% endblock %}
