{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block title %}{{ (dinner.title ~ ' - Social Dinnir')|truncate(55) }}{% endblock %}
{% block description %}{{ ('Social dinner bij ' ~ dinner.user.displayName ~ ': ' ~ dinner.menu)|truncate(150) }}{% endblock %}

{% block ogimage %}{% spaceless %}   
	{% if dinner.photos.0 is defined %}
		{{ app.request.uriForPath('/' ~ dinner.photos.0.webPath) }}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endspaceless %}{% endblock %}

{% block bodyclass %}mapheader dinner-detail{% endblock %}

{% block content %}

<div class="mapcontainer">
	<div id="map" class="map"></div>
	<div class="resize">Kaart vergroten</div>
</div>

<div class="container" itemscope itemtype="http://schema.org/Event">
	<div class="one-third">
		{% if app.user == dinner.user %}
		<p><a href="{{ path('design311website_dinners_edit', {'permalink': dinner.permalink}) }}" class="button button-orange"><i class="sprite edit white"></i>Dinner bewerken</a></p>
		{% endif %}
		<div class="widget">
			<h3>Algemene informatie</h3>
			<ul class="borderlist">
				<li>Organisator: <a href="{{ path('design311website_profile_view', {'username': dinner.user.username|lower}) }}">{{dinner.user.displayName}}</a></li>
				<li>Maximum aantal personen: {{dinner.maxInvitees}}</li>
				<li itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">Prijs: <span itemprop="price">€{{dinner.price}}</span></li>
				<li>Datum: <span itemprop="startDate" content="{{dinner.date|date('Y-m-d\TH:i:sO')}}">{{dinner.date | date("m/d/Y") }}</span></li>
				<li>Tijdstip: {{dinner.date | date("G:i") }} uur</li>
				<li>Adres:<br><span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					{{dinner.address.street}}{% if app.user in dinner.participants %} {{dinner.address.number}}{% endif %}<br>
					{{dinner.address.zipcode}} {{dinner.address.city}}<br>
					{{dinner.address.country}}</span>
				</li>
			</ul>
		</div>
		<div class="widget">
			<h3>Deelnemers</h3>
			{% if dinner.participants|length > 0 %}
			<ul class="participantlist">
			{% for participant in dinner.participants %}
			    <li class="participant"><a href="{{ path('design311website_profile_view', {'username': participant.user.username|lower}) }}"><img src="{{participant.user.avatar | apply_filter('avatar_tiny') }}" alt="{{participant.user.displayName}}">{{participant.user.displayName}}</a></li>
			{% endfor %}
			</ul>
			{% else %}
			    <p>Momenteel zijn er nog geen deelnemers.</p>
			{% endif %}
			{% if app.user == dinner.user %}
				<p><a href="{{ path('design311website_dinners_invite', {'permalink': dinner.permalink}) }}">Deelnemers uitnodigen</a></p>
			{% endif %}
		</div>
		{% if app.user == dinner.user %}
		<div class="widget">
			<h3>Verzoeken</h3>
			{% if dinner.participantRequests|length > 0 %}
			<ul class="participantlist">
			{% for request in dinner.participantRequests %}
			    <li class="participant"><a href="{{ path('design311website_profile_view', {'username': request.user.username|lower}) }}"><img src="{{request.user.avatar | apply_filter('avatar_tiny') }}" alt="{{request.user.displayName}}">{{request.user.displayName}}</a></li>
			{% endfor %}
			</ul>
			{% else %}
			    <p>Momenteel zijn er geen deelname-verzoeken.</p>
			{% endif %}
		</div>
		{% endif %}
	</div>
	<div class="two-third main">
		<h1 itemprop="name">{{dinner.title}}</h1>
		{{dinner.menu|markdown}}

		{% if app.user %}

			{% set requestUsers = {} %}
			{% for item in dinner.participantRequests %}
			    {% set requestUsers = requestUsers|merge({(loop.index0): item.user.username}) %}
			{% endfor %}

			{% set participantUsers = {} %}
			{% for item in dinner.participants %}
			    {% set participantUsers = participantUsers|merge({(loop.index0): item.user.username}) %}
			{% endfor %}

			{% if app.user != dinner.user and app.user.username not in requestUsers and app.user.username not in participantUsers %}
				<h2>Deelnemen</h2>
				<p>Krijg je al spontaan honger? Stel jezelf even kort voor aan de organisator.</p>
				{{ form(form, {'attr': {'class': 'deelnemenform'}}) }}
			{% else %}
				{% if app.user.username in participantUsers %}
				    <h2>Deelnemen</h2>
				    <p class="success message">Je neemt al deel aan dit dinner.</p>
				{% else %}
					{% if app.user != dinner.user %}
				   		<h2>Deelnemen</h2>
				   		<p class="success message">Je hebt al een deelnameverzoek verzonden.</p>
					{% endif %}
				{% endif %}
			{% endif %}
		{% else %}
		    <h2>Krijg je al spontaan honger?</h2>
		    <p><a href="{{ path('design311website_login') }}">Meld je aan om deel te nemen</a></p>
		{% endif %}

		<div class="dinnerphotos">
			{% for photo in dinner.photos %}
				<img src="{{ asset(photo.webPath)}}" alt="{{photo.title}}" itemprop="image">
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}

{% block footer %}
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript">

		$(function(){
			var map;
			var marker;
			var geocoder = new google.maps.Geocoder();
			var startMarker;

			var dinnerCoords = new google.maps.LatLng({{dinner.address.lat}}, {{dinner.address.lng}});

			var mapStyle = [
				{
					"stylers": [
						{ "hue": "#ff9100" }
					]
				},{
					"featureType": "poi",
					"stylers": [
						{ "visibility": "off" }
					]
				},{
					"featureType": "road",
					"elementType": "labels.icon",
					"stylers": [
						{ "visibility": "off" }
					]
				},{
					"featureType": "transit",
					"elementType": "labels",
					"stylers": [
						{ "visibility": "off" }
					]
				},{
					"featureType": "water",
					"stylers": [
						{ "visibility": "simplified" }
					]
				},{
					"featureType": "administrative.neighborhood",
					"stylers": [
						{ "visibility": "off" }
					]
				}
			]

			map = new google.maps.Map(document.getElementById('map'), {
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				streetViewControl: false,
				mapTypeControl: false,
				scrollwheel: false,
				zoom:16,
				center:dinnerCoords,
				styles:mapStyle
			});
			
			var marker = new google.maps.Marker({
				map: map,
				position: dinnerCoords,
				icon: "{{ asset('bundles/design311website/img/marker.png')}}"
			});

			if(navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(function(position) {
					var currentPosition = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
					displayRoute(currentPosition);
				});
			}

			function displayRoute(start){
				var directionsDisplay = new google.maps.DirectionsRenderer({suppressInfoWindows:true, suppressMarkers: true});
				var directionsService = new google.maps.DirectionsService();
				directionsDisplay.setMap(map);

				var request = {
					origin:start,
					destination:dinnerCoords,
					travelMode: google.maps.TravelMode.DRIVING
				};
				directionsService.route(request, function(response, status) {
					if (status == google.maps.DirectionsStatus.OK) {
						directionsDisplay.setDirections(response);
						startmarker = new google.maps.Marker({
							map: map,
							position: start,
							icon: "{{ asset('bundles/design311website/img/home-marker.png')}}"
						});
					}
				});
			}
		});
	</script>
{% endblock %}