{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block content %}

<div class="container">
	{% if invalidMails|length > 0 %}
		<div class="error">
			<p>De volgende e-mails zijn niet geldig:</p>
			<ul>
			{% for email in invalidMails %}
				<li>{{email}}</li>
			{% endfor %}
			</ul>
		</div>
	{% endif %}
	{{ form_start(form, {'attr': {'class': 'form'}}) }}
		<div class="mails">
			{{form_row(form.mails)}}
			<p class="inputinfo">E-mailadressen van de personen die je wil uitnodigen, gescheiden door een komma.</p>
		</div>
	{{ form_end(form) }}
</div>

{% endblock %}

{% block footer %}
	<script src="{{ asset('bundles/design311website/js/select2/select2.min.js') }}"></script>
{% endblock %}