{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{#
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block ogimage %}{% endblock %}

#}

{% block bodyclass %}home{% endblock %}

{% block head %}
		<!-- <link rel="stylesheet" href="{{ asset('bundles/design311website/js/flexslider/flexslider.css') }}"> -->
{% endblock %}

{% block content %}
	<div class="picturewall section">
		<div class="overlay">
			<div>
				<div class="container">
					<h1>Chaw</h1>
					<p class="intro">Food-community voor iedereen die van lekker eten houdt. Doorzoek de recepten of ga eens lekker eten bij een andere Foodie.</p>
					<!-- <p class="intro">Laat je inspireren door de smakelijke foto's van andere foodies,<br>meld je aan om zelf ook foto's te delen.</p> -->
					<p class="signup"><a href="{{ path('design311website_register') }}" class="register">Registreren</a> of <a href="#" class="moreinfo">Meer informatie</a></p>
					<p class="login">Ben je al lid? <a href="{{ path('design311website_login') }}">Meld je aan</a></p>
				</div>
			</div>
			<i class="sprite arrowdown moreinfo animated"></i>
		</div>
	</div>

	<div class="map section">
		<div class="description">
			<h1>Ga eten bij mensen uit je buurt</h1>
			<p class="intro">Bekijk alle huidige etentjes op de kaart, meld je aan om een etentje te organiseren of om zelf deel de nemen.</p>
			<p class="signup"><a href="{{ path('design311website_register') }}" class="register">Registreren</a> of <a href="{{ path('design311website_dinners') }}">bekijk alle etentjes</a></p>
			<p class="login">Ben je al lid? <a href="{{ path('design311website_login') }}">Meld je aan</a></p>
		</div>
		<div id="map"></div>
	</div>

	<div class="recepten section">
		<div class="container">
			<div class="inner">
				<h1>...of maak zelf lekker eten</h1>
				<p class="intro">Zoek recepten op basis van je beschikbare ingredi&euml;nten, meld je aan om recepten toe te voegen aan je winkellijstje.</p>
				<p class="signup"><a href="{{ path('design311website_register') }}" class="register">Registreren</a> of <a href="{{ path('design311website_recepten') }}">bekijk alle recepten</a></p>
				<p class="login">Ben je al lid? <a href="{{ path('design311website_login') }}">Meld je aan</a></p>
				{% for recipe in newestrecipes %}
					<div class="onehalf{% if loop.last %} last{% endif %}">
						<a href="{{path('design311website_recepten_detail', {'category': recipe.category.plural|lower, 'permalink': recipe.permalink})}}">
							<div class="recept orangehover">
								<img src="{{ recipe.photos.0.webPath |  apply_filter('onehalf') }}" alt="{{recipe.photos.0.title}}">
								<div class="hover">
									<h2 class="text">{{recipe.title}}</h2>
								</div>
							</div>
						</a>
						<p class="likes"><i class="sprite heart"></i>{% if recipe.likedBy|length == 0 %}
						Nog niemand heeft dit geproefd
						{% else %}
						    {{recipe.likedBy|length == 1 ? '1 iemand vind dit lekker' : recipe.likedBy|length ~ ' mensen vinden dit lekker'}}
						{% endif %}</p>
					</div>
				{% endfor %}
				<div class="clear"></div>
			</div>
		</div>
	</div>

	<!-- <div class="restaurants section">
		<div class="flexslider">
			<ul class="slides">
				{% for i in 1..4 %}
					<li>
						<img src="{{ asset('bundles/design311website/img/restaurants/restaurant%20(' ~ i ~ ').jpg') }}" />
						<div class="caption">
							<h2>La Boheme</h2>
							<p>The La Boheme Restaurant &amp; Cocktail Lounge is located in the former Ball Room of the Main Manor House. With its painstakingly restored original parquet floors and ceiling ornaments, paintings and modern Scandinavian furniture the restaurant is a seamless blend between traditional old and modern minimalism</p>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div> -->

{% endblock %}

{% block footer %}
	<!--script src="{{ asset('bundles/design311website/js/flexslider/jquery.flexslider-min.js') }}"></script-->
	<script src="{{ asset('bundles/design311website/js/script.js') }}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
	<script>
		$(function(){
			var coord = new google.maps.LatLng(51.21,4.40);

			var mapStyle = [
				{
					"stylers": [
						{ "hue": "#ff9100" },
						{ "lightness": 80 }
					]
				},{
					"featureType": "poi",
					"stylers": [
						{ "visibility": "off" }
					]
				},{
					"featureType": "road",
					"elementType": "labels.icon",
					"stylers": [
						{ "visibility": "off" }
					]
				},{
					"featureType": "transit",
					"elementType": "labels",
					"stylers": [
						{ "visibility": "off" }
					]
				},{
					"featureType": "water",
					"stylers": [
						{ "visibility": "simplified" }
					]
				},{
					"featureType": "administrative.neighborhood",
					"stylers": [
						{ "visibility": "off" }
					]
				}
			]

			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 9,
				streetViewControl: false,
				mapTypeControl: false,
				scrollwheel: false,
				styles: mapStyle,
				center: coord
			});

			$('.moreinfo').click(function(){
				$('html,body').animate({
					scrollTop: $('.map.section').offset().top
				},1000)
				return false;
			})
		})
	</script>
{% endblock %}