{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block title %}Profiel bewerken - {{parent()}}{% endblock %}
{% block description %}Bewerk je profiel, schrijf een leuke beschrijving van jezelf zodat andere Foodies je beter leren kennen.{% endblock %}

{% block content %}
<div class="container">

	<h1>Profiel bewerken</h1>
	{{ form_start(form, {'attr':{'class': 'userform'}}) }}
	<div class="onehalf">
		{{ form_row(form.displayName) }}
		{{ form_row(form.email) }}
		{{ form_row(form.description) }}
		{{ form_row(form.website) }}
		{{ form_row(form.facebook) }}
		{{ form_row(form.twitter) }}
		{{ form_row(form.googleplus) }}
		{{ form_row(form.submit) }}
		<a href="{{ path('design311website_profile_password') }}">Wachtwoord wijzigen?</a>
	</div>
	<div class="onehalf last">
		<img src="{{ app.user.avatar | apply_filter('avatar') }}" alt="Avatar {{app.user.displayname}}">
		{{ form_row(form.file) }}
	</div>
	{{ form_end(form) }}


</div>

{% endblock %}

{% block footer %}
    <script>
    $(function(){
    	$('#useredit_website').change(function(){
    		var val = $('#useredit_website').val();
    		if (val.toLowerCase().indexOf("http") == -1){
    			$('#useredit_website').val('http://'+val);
    		}
    	})

    	$('#useredit_facebook').change(function(){
    		var val = $('#useredit_facebook').val();
    		if (val.toLowerCase().indexOf("http") == -1){
    			$('#useredit_facebook').val('http://'+val);
    			if (val.toLowerCase().indexOf("facebook") == -1){
    				$('#useredit_facebook').val('http://facebook.com/'+val);
    			}
    		}
    	})

    	$('#useredit_twitter').change(function(){
    		var val = $('#useredit_twitter').val();
    		if (val.toLowerCase().indexOf("http") == -1){
    			$('#useredit_twitter').val('http://'+val);
    			if (val.toLowerCase().indexOf("twitter") == -1){
    				$('#useredit_twitter').val('http://twitter.com/'+val);
    			}
    		}
    	})

    	$('#useredit_googleplus').change(function(){
    		var val = $('#useredit_googleplus').val();
    		if (val.toLowerCase().indexOf("http") == -1){
    			$('#useredit_googleplus').val('http://'+val);
    			if (val.toLowerCase().indexOf("google") == -1){
    				$('#useredit_googleplus').val('http://plus.google.com/u/0/'+val);
    			}
    		}
    	})
    })
    </script>
{% endblock %}