{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block content %}
<div class="container">

	<h1>Profiel bewerken</h1>
	<img src="{{ asset(app.user.avatar) | apply_filter('avatar') }}" alt="Avatar {{app.user.displayname}}">

	{{ form_start(form) }}
		{{ form_row(form.file) }}
		{{ form_row(form.displayName) }}
		{{ form_row(form.email) }}
		{{ form_row(form.description) }}
		{{ form_row(form.website) }}
		{{ form_row(form.facebook) }}
		{{ form_row(form.twitter) }}
		{{ form_row(form.googleplus) }}
		{{ form_row(form.submit) }}
	{{ form_end(form) }}

	<a href="{{ path('design311website_profile_password') }}">Wachtwoord wijzigen?</a>


</div>

{% endblock %}
