{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block title %}Profiel bewerken - {{parent()}}{% endblock %}
{% block description %}Bewerk je profiel, schrijf een leuke beschrijving van jezelf zodat andere Foodies je beter leren kennen.{% endblock %}

{% block content %}
<div class="container">

	<h1>Profiel bewerken</h1>
	{{ form_start(form, {'attr':{'class': 'userform'}}) }}
	<div class="onehalf">
		{{ form_row(form.displayName) }}
		{{ form_row(form.email) }}
		{{ form_row(form.description) }}
		{{ form_row(form.website) }}
		{{ form_row(form.facebook) }}
		{{ form_row(form.twitter) }}
		{{ form_row(form.googleplus) }}
		{{ form_row(form.submit) }}
		<a href="{{ path('design311website_profile_password') }}">Wachtwoord wijzigen?</a>
	</div>
	<div class="onehalf last">
		<img src="{{ asset(app.user.avatar) | apply_filter('avatar') }}" alt="Avatar {{app.user.displayname}}">
		{{ form_row(form.file) }}
	</div>
	{{ form_end(form) }}


</div>

{% endblock %}
