{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block content %}
<div class="container">

	<h1>Aanmelden</h1>
	{% if auth != false %}
		<p class="error">Hiervoor moet je eerst aanmelden</p>
	{% endif %}
	Nog geen account? <a href="{{ path('design311website_register') }}">Maak hier een account aan</a>

	{% if error %}
	<div>{{ error.message }}</div>
	{% endif %}
	
	<form action="{{ path('design311website_login_check') }}" method="post">
		<p><label for="username">Gebruikersnaam</label><br>
		<input id="username" type="text" name="_username" value="{{ last_username }}" /></p>
		<p><label for="password">Wachtwoord</label><br>
		<input id="password" type="password" name="_password" /></p>
		<p><input type="submit" name="login" /></p>
	</form>

	<p><a href="{{ path('design311website_password_recovery') }}">Wachtwoord vergeten?</a></p>

</div>

{% endblock %}