{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block content %}
	<div class="container">
	{{ form_start(form) }}
		<script>var photofields = {};</script>
		<div id="recipe_photos" data-prototype="{{ form_widget(form.photos.vars.prototype)|e }}">
		{% for photofield in form.photos %}
	        <div>
	        	<script>
	        		photofields['{{photofield.vars.id}}'] = '{{ form_row(photofield.file) }}';
	        	</script>
	            {{ form_errors(photofield) }}
	            {{ form_row(photofield.title) }}
	            {% if photofield.file.vars.image_url is not null %}
	            	<div class="image">
						<img src="{{asset(photofield.file.vars.image_url) | apply_filter('recipe_thumb')}}" alt="">
						<a href="#" class="edit-file" data-fileid="{{photofield.vars.id}}">Edit</a>
					</div>
	            	<div class="photofield-file" data-fileid="{{photofield.vars.id}}" style="display:none;"></div>
				{% else %}
					<div class="photofield-file" data-fileid="{{photofield.vars.id}}"></div>
	            {% endif %}
	        </div>
	    {% endfor %}
	    </div>
	{{ form_end(form) }}
	</div>
{% endblock %}

{% block footer %}
    <script>
    	var photoHolder;
    	var ingredientHolder;

		// setup an "add a photo" link
		var addPhotoLink = $('<p><a href="#" class="add_photo_link">Add a photo</a></p>');
		var addIngredientLink = $('<p><a href="#" class="add_photo_link">Add an ingredient</a></p>');
		var deleteLink = '<a href="#" class="deleterow">delete</a>';

		$(function() {
		    // Get the ul that holds the collection of photos
		    photoHolder = $('#recipe_photos');
		    ingredientHolder = $('#recipe_recipeingredients');

		    console.log(photoHolder);

		    // add the "add a photo" anchor and li to the photos ul
		    photoHolder.append(addPhotoLink);
		    ingredientHolder.append(addIngredientLink);

		    // count the current form inputs we have (e.g. 2), use that as the new
		    // index when inserting a new item (e.g. 2)
		    photoHolder.data('index', photoHolder.children('div').length);
		    ingredientHolder.data('index', ingredientHolder.children('div').length);

		    photoHolder.children('div').each(function(i, el) {
		    	if (i != 0) {
		    		$(el).append(deleteLink);
		    	};
		    });
		    ingredientHolder.children('div').each(function(i, el) {
		    	if (i != 0) {
		    		$(el).append(deleteLink);
		    	};
		    });

		    if (photoHolder.data('index') == 0) {
	        	addInput(photoHolder, addPhotoLink, false);
		    };

		    if (ingredientHolder.data('index') == 0) {
	        	addInput(ingredientHolder, addIngredientLink, false);
			};

		    addPhotoLink.on('click', function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();

		        // add a new photo form (see next code block)
		        addInput(photoHolder, addPhotoLink, true);
		    });

		    addIngredientLink.on('click', function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();

		        // add a new photo form (see next code block)
		        addInput(ingredientHolder, addIngredientLink, true);
		    });

		    $('form').on('click','.deleterow', function(e) {
		    	e.preventDefault();
		    	$(this).parent().remove();
		    });

		    var cancel = '<a href="#" class="cancel-edit">Annuleren</a>';
		    $('.edit-file').click(function(){
		    	var id = $(this).data('fileid');
		    	var parent = $(this).parent();
		    	parent.hide();
		    	parent.siblings('.photofield-file').append(photofields[id] + cancel).show();
		    })

		    $('#recipe_photos').on('click', '.cancel-edit', function(){
		    	var id = $(this).data('fileid');
		    	var parent = $(this).parent();
		    	parent.empty().hide();
		    	parent.siblings('.image').show();
		    })

		});

		function addInput(holder, link, allowDelete) {
		    // Get the data-prototype explained earlier
		    var prototype = holder.data('prototype');
		    console.log(holder);

		    // get the new index
		    var index = holder.data('index');

		    // Replace '__name__' in the prototype's HTML to
		    // instead be a number based on how many items we have
		    var newForm = prototype.replace(/__name__/g, index);

		    // increase the index with one for the next item
		    holder.data('index', index + 1);

		    // Display the form in the page in an li, before the "Add a photo" link li
		    if (allowDelete) {
		    	var newFormContainer = $('<div></div>').append(newForm + deleteLink);
		    }
		    else{
		    	var newFormContainer = $('<div></div>').append(newForm);
		    }
		    link.before(newFormContainer);
		}
    </script>
{% endblock %}