{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block content %}
	<div class="container">
	{{ form_start(form, {'attr':{'class': 'recipeform'}}) }}
		<div class="onehalf">
			{{form_row(form.title)}}
			<div>
			{{form_label(form.recipeingredients)}}
			<p class="inputinfo">Vul de ingredi&euml;n in die je nodig hebt voor dit recept. Optioneel vul je ook de hoeveelheid in van elk ingredi&euml;nt, bijvoorbeeld: 10cl, 100g, 2kg,...</p>
			<div class="labels">
				<label for="recipe_recipeingredients_0_amount" class="label amount">Hoeveelheid</label>
				<label for="recipe_recipeingredients_0_ingredient_name" class="label ingredient">Ingredi&euml;nt</label>
			</div>
			{{form_errors(form.recipeingredients)}}
			{% if form.recipeingredients|length == 0 %}
				{{form_widget(form.recipeingredients)}}
			{% else %}
				<div id="recipe_recipeingredients" data-prototype="{{ form_widget(form.recipeingredients.vars.prototype)|e }}">
				{% for ingredient in form.recipeingredients %}
			        <div class="recipeingredient-row">
			        	<div>
			        		<div class="amount">
			        			{{ form_row(ingredient.amount) }}
			        		</div>
			        		<div class="ingredient">
			        			{{ form_row(ingredient.ingredient) }}
			        		</div>
			        	</div>			            
			        </div>
			    {% endfor %}
			    </div>
			{% endif %}
			</div>
			<div class="cooking">
				{{form_row(form.cookingTime)}}
			</div>
			<div class="ready">
				{{form_row(form.readyTime)}}
			</div>
			<div class="aantal">
				{{form_row(form.aantalPersonen)}}
			</div>
			<p class="inputinfo clear">De bereidingstijd is de tijd dat u aan het koken bent, de totale tijd is de tijd waarna het gerecht klaar is, inclusief afkoelen en opwarmen in de oven.</p>
			<div class="category">
				{{form_row(form.category)}}
			</div>
			<div class="diet">
				{{form_row(form.diet)}}
			</div>
			{% if recipe is defined %}
				{{ form_row(form.submit, {'label':'Wijzigingen opslaan'}) }}
			{% else %}
				{{form_row(form.submit)}}
			{% endif %}
		</div>
		<div class="onehalf last">
			<div class="recipe-recipe">
				{{form_row(form.recipe)}}
			</div>
			<p class="inputinfo">Gelieve geen hoeveelheden in dit veld te vermelden, de ingredi&euml;nten zullen omgezet worden naar een ander aantal personen. Dit veld ondersteunt <a href="#" id="markdown-toggle">eenvoudige opmaak</a></p>
			{% include 'Design311WebsiteBundle:Shared:markdown.html.twig' %}
			{% if form.photos|length == 0 %}
				{{form_label(form.photos)}}
				<p class="inputinfo">Laat met minstens 1 foto zien wat mensen kunnen verwachten van je recept. Je kan steeds meerdere foto's toe te voegen om ook de bereidingswijze te laten zien.</p>
				{{form_widget(form.photos)}}
			{% else %}
				<script>var photofields = {};</script>
				{{form_label(form.photos)}}
				<p class="inputinfo">Laat met minstens 1 foto zien wat mensen kunnen verwachten van je recept. Je kan steeds meerdere foto's toe te voegen om ook de bereidingswijze te laten zien.</p>
				<div id="recipe_photos" data-prototype="{{ form_widget(form.photos.vars.prototype)|e }}">
				{% for photofield in form.photos %}
			        <div class="photo-row">
			        	<script>
			        		photofields['{{photofield.vars.id}}'] = '{{ form_row(photofield.file) }}';
			        	</script>
			            {{ form_errors(photofield) }}
			            {{ form_row(photofield.title) }}
			            {% if photofield.file.vars.image_url is not null %}
			            	<div class="image">
								<img src="{{ photofield.file.vars.image_url | apply_filter('onehalf')}}" alt="">
							</div>
			            {% endif %}
			        </div>
			    {% endfor %}
			    </div>
			{% endif %}
		</div>
	{{ form_end(form) }}
	</div>
{% endblock %}

{% block footer %}
    <script>
    	var photoHolder;
    	var ingredientHolder;

		// setup an "add a photo" link
		var addPhotoLink = $('<p><a href="#" class="add_photo_link button">Foto toevoegen</a></p>');
		var addIngredientLink = $('<p><a href="#" class="add_photo_link button">Ingredi&euml;nt toevoegen</a></p>');
		var deletePhoto = '<a href="#" class="deleterow">Foto verwijderen</a>';
		var deleteLink = '<a href="#" class="deleterow">X</a>';

		$(function() {
		    // Get the ul that holds the collection of photos
		    photoHolder = $('#recipe_photos');
		    ingredientHolder = $('#recipe_recipeingredients');

		    console.log(photoHolder);

		    // add the "add a photo" anchor and li to the photos ul
		    photoHolder.append(addPhotoLink);
		    ingredientHolder.append(addIngredientLink);

		    // count the current form inputs we have (e.g. 2), use that as the new
		    // index when inserting a new item (e.g. 2)
		    photoHolder.data('index', photoHolder.children('div').length);
		    ingredientHolder.data('index', ingredientHolder.children('div').length);

		    photoHolder.children('div').each(function(i, el) {
		    	if (i != 0) {
		    		$(el).append(deleteLink);
		    	};
		    });
		    ingredientHolder.children('div').each(function(i, el) {
		    	if (i != 0) {
		    		$(el).append(deleteLink);
		    	};
		    });

		    if (photoHolder.data('index') == 0) {
	        	addInput(photoHolder, addPhotoLink, false);
		    };

		    if (ingredientHolder.data('index') == 0) {
	        	addInput(ingredientHolder, addIngredientLink, false);
			};

		    addPhotoLink.on('click', function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();

		        // add a new photo form (see next code block)
		        addInput(photoHolder, addPhotoLink, true);
		    });

		    addIngredientLink.on('click', function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();

		        // add a new photo form (see next code block)
		        addInput(ingredientHolder, addIngredientLink, true);
		    });

		    $('form').on('click','.deleterow', function(e) {
		    	e.preventDefault();
		    	$(this).parent().remove();
		    });

		    var cancel = '<a href="#" class="cancel-edit">Annuleren</a>';
		    $('.edit-file').click(function(){
		    	var id = $(this).data('fileid');
		    	var parent = $(this).parent();
		    	parent.hide();
		    	parent.siblings('.photofield-file').append(photofields[id] + cancel).show();
		    	return false;
		    })

		    $('#recipe_photos').on('click', '.cancel-edit', function(){
		    	var id = $(this).data('fileid');
		    	var parent = $(this).parent();
		    	parent.empty().hide();
		    	parent.siblings('.image').show();
		    	return false;
		    })
		});

		function addInput(holder, link, allowDelete) {
		    // Get the data-prototype explained earlier
		    var prototype = holder.data('prototype');
		    console.log(holder);

		    // get the new index
		    var index = holder.data('index');

		    // Replace '__name__' in the prototype's HTML to
		    // instead be a number based on how many items we have
		    var newForm = prototype.replace(/<label class="required">__name__label__<\/label>/g, '');
		    newForm = newForm.replace(/<div id="recipe_photos___name__">/g, '<div id="recipe_photos___name__" class="photo-row">');
		    newForm = newForm.replace(/<div><input type="text" id="recipe_recipeingredients___name___amount"/g, '<div class="amount"><input type="text" id="recipe_recipeingredients___name___amount"');
		    newForm = newForm.replace(/<div><div id="recipe_recipeingredients___name___ingredient"/g, '<div class="ingredient"><div id="recipe_recipeingredients___name___ingredient"');
		    newForm = newForm.replace(/__name__/g, index);

		    // increase the index with one for the next item
		    holder.data('index', index + 1);

		    // Display the form in the page in an li, before the "Add a photo" link li
		    if (allowDelete) {
		    	if (holder == photoHolder) {
		    		var newFormContainer = $('<div></div>').append(newForm + deletePhoto);
		    	}
		    	else{
		    		var newFormContainer = $('<div></div>').append(newForm + deleteLink);
		    	}
		    }
		    else{
		    	var newFormContainer = $('<div></div>').append(newForm);
		    }
		    link.before(newFormContainer);
		}
    </script>
{% endblock %}