{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block title %}{{ ('Recepten voor ' ~ category.plural|lower ~ ' - ' ~ parent()) 	|truncate(55) }}{% endblock %}
{% block description %}Blader door de recepten voor {{category.plural|lower}} en zoek naar recepten op basis van je beschikbare indregi&euml;nten.{% endblock %}
{% block ogimage %}{{ app.request.uriForPath('/' ~ recipes.0.photos.0.webpath) }}{% endblock %}

{% block bodyclass %}recipepage{% endblock %}

{% block content %}
	<div class="container">
		<h1 class="averia">{{category.plural}}</h1>
		<p>{{category.description}}</p>
	</div>
	<div class="recipecontent">	
		<div class="container">
			{% include 'Design311WebsiteBundle:Shared:recipes-sidebar.html.twig' %}
			{% include 'Design311WebsiteBundle:Shared:recipes-list.html.twig' %}
		</div>
	</div>
{% endblock %}

{% block footer %}
	<script src="{{ asset('bundles/design311website/js/select2/select2.min.js') }}"></script>
{% endblock %}