{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block bodyclass %}recipepage recipe-detail{% endblock %}

{% block content %}
	<div class="fixedfix"></div>
	<div class="newestrecipes detailheader" style="background-image:url('{{ asset(recipe.photos.0.webPath)}}');">
		{% include 'Design311WebsiteBundle:Shared:recipe-title.html.twig' with {'detail':true} %}
	</div>
	<div class="recipecontent">	
		<div class="container">
			{% include 'Design311WebsiteBundle:Shared:recipes-sidebar.html.twig' with {'detail':true} %}
			<div class="two-third main">
				<div class="ingredients">
					<h2>Ingredi&euml;nten</h2>
					<ul>
					{% for ingredient in recipe.recipeingredients %}
						<li>{{ingredient.amount}} {{ingredient.ingredient}}</li>
					{% endfor %}
					</ul>
				</div>
				<div class="clear"></div>

				<h2>Bereidingswijze</h2>
				{{recipe.recipe|markdown}}

				<div class="recipephotos">
					{% for photo in recipe.photos %}
						<img src="{{ asset(photo.webPath)}}" alt="{{photo.title}}">
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
	<script src="{{ asset('bundles/design311website/js/select2/select2.min.js') }}"></script>
{% endblock %}