{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block title %}{{ (recipe.title ~ ' ('~recipe.readytime~' min) - ' ~ recipe.category ~ ' recept - Chaw recepten')|truncate(55) }}{% endblock %}
{% block description %}{{ (recipe.recipe)|truncate(150) }}{% endblock %}
{% block ogimage %}{{ app.request.uriForPath('/' ~ recipe.photos.0.webpath) }}{% endblock %}

{% block bodyclass %}recipepage recipe-detail printthis{% endblock %}

{% block content %}
	<div class="fixedfix"></div>
	<div class="newestrecipes detailheader" style="background-image:url('{{ asset(recipe.photos.0.webPath)}}');">
		{% include 'Design311WebsiteBundle:Shared:recipe-title.html.twig' with {'detail':true} %}
	</div>
	<div class="recipecontent">	
		<div class="container">
			{% include 'Design311WebsiteBundle:Shared:recipes-sidebar.html.twig' with {'detail':true} %}
			<div class="two-third main">
				<div class="ingredients">
					<h2>Ingredi&euml;nten</h2>
					<ul>
					{% for ingredient in recipe.recipeingredients %}
						<li>{{ingredient.amount}} {{ingredient.ingredient}}</li>
					{% endfor %}
					</ul>
				</div>
				<div class="clear"></div>

				<h2>Bereidingswijze</h2>
				{{recipe.recipe|markdown}}

				<div class="recipephotos">
					{% for photo in recipe.photos %}
						<img src="{{ asset(photo.webPath)}}" alt="{{photo.title}}">
					{% endfor %}
				</div>

				<h2>Wat vind je van dit recept?</h2>
				<div class="fb-comments" data-href="{{ url('design311website_recepten_detail', {'category': recipe.category, 'permalink': recipe.permalink})}}" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
	<script src="{{ asset('bundles/design311website/js/select2/select2.min.js') }}"></script>
	{% include 'Design311WebsiteBundle:Shared:facebook.html.twig' %}
{% endblock %}