{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block title %}{{ (recipe.title ~ ' ('~recipe.readytime~' min) - ' ~ recipe.category ~ ' recept - Chaw recepten')|truncate(55) }}{% endblock %}
{% block description %}{{ (recipe.recipe)|truncate(150) }}{% endblock %}
{% block ogimage %}{{ app.request.uriForPath('/' ~ recipe.photos.0.webpath) }}{% endblock %}
{% block ogtype %}article{% endblock %}

{% block bodyclass %}recipepage recipe-detail printthis fullheight{% endblock %}

{% block content %}
	<div class="fixedfix"></div>
	<div class="newestrecipes detailheader" style="background-image:url('{{ recipe.photos.0.webPath | apply_filter('fullscreen') }}');">
		{% include 'Design311WebsiteBundle:Shared:recipe-title.html.twig' with {'detail':true} %}
	</div>
	<div class="recipecontent">	
		<div class="container">
			{% include 'Design311WebsiteBundle:Shared:recipes-sidebar.html.twig' with {'detail':true} %}
			<div class="two-third main">
				{% if recipe.diet != 'Normaal' %}
					<p class="orange"><strong>Dit recept is {{recipe.diet}}</strong></p>
				{% endif %}
				<div class="ingredients">
					<h2>Ingredi&euml;nten voor {{recipe.aantalPersonen}} {{recipe.aantalPersonen == 1 ? 'persoon' : 'personen'}}</h2>
					<ul>
					{% for ingredient in recipe.recipeingredients %}
						<li itemprop="ingredients">{{ingredient.amount}} {{ingredient.ingredient}}</li>
					{% endfor %}
					</ul>
				</div>
				<div class="clear"></div>

				<h2>Bereidingswijze</h2>
				<div itemprop="recipeInstructions">{{recipe.recipe|markdown}}</div>

				<div class="recipephotos">
					{% for photo in recipe.photos %}
						<img src="{{ photo.webPath | apply_filter('two_third') }}" alt="{{photo.title}}" itemprop="image" width="735" height="490">
						<p><strong>{{photo.title}}</strong></p>
					{% endfor %}
				</div>
	
				<div class="feedback">
					<h2>Wat vind je van dit recept?</h2>
					<div class="fb-comments" data-href="{{ url('design311website_recepten_detail', {'category': recipe.category.plural|lower, 'permalink': recipe.permalink})}}" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
	<script src="{{ asset('bundles/design311website/js/select2/select2.min.js') }}"></script>
	{% include 'Design311WebsiteBundle:Shared:facebook.html.twig' %}
{% endblock %}