{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block bodyclass %}recipepage recipeindex{% endblock %}

{% block content %}
	<div class="newestrecipes">
		<div class="flexslider">
			<ul class="slides">
			{% for recipe in newestrecipes %}
				<li>
					<div class="imagecontainer"><img src="{{ asset(recipe.photos[0].webPath) }}" alt="{{ recipe.photos[0].title }}" /></div>
					{% include 'Design311WebsiteBundle:Shared:recipe-title.html.twig' %}
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<div class="recipecontent">	
		<div class="container">
			{% include 'Design311WebsiteBundle:Shared:recipes-sidebar.html.twig' %}
			<div class="two-third main">
				{% for category in categories %}
				    <div class="recipeblock{% if loop.index is even %} even{% endif %}">
				    	{% set lastrecipe = category.recipe | last %}
				    	<div class="orangehover inversed">
				    		<a href="{{ path('design311website_recepten_category', {'category': category.plural|lower})}}">
					    		<img src="{{ lastrecipe.photos[0].webPath | apply_filter('recipe_category') }}" alt="{{ lastrecipe.photos[0].title }}" />
					    		<div class="hover">
					    			<h2 class="text">{{category.plural}}</h2>
					    		</div>
				    		</a>
				    	</div>
				    </div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}

{% block head %}
		<link rel="stylesheet" href="{{ asset('bundles/design311website/js/flexslider/flexslider.css') }}">
{% endblock %}

{% block footer %}
	<script src="{{ asset('bundles/design311website/js/flexslider/jquery.flexslider-min.js') }}"></script>
	<script src="{{ asset('bundles/design311website/js/select2/select2.min.js') }}"></script>
	<script>
		$(function(){

		})
	</script>
{% endblock %}