{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block content %}
    <a href="{{ path('design311website_recepten_add') }}">add</a>

	{% for recipe in recipes %}
	<div>
		{{recipe.title}}
		{% for photo in recipe.photos %}
			<img src="{{ asset(photo.webPath) }}" width="500">
		{% endfor %}
		<ul>
		{% for ingredient in recipe.ingredients %}
			<li>{{ingredient.amount}} {{ingredient.name}}</li>
		{% endfor %}
		</ul>
	</div>
	<hr>
	{% endfor %}

{% endblock %}