{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block content %}
	<a href="{{ path('design311website_recepten_add') }}">add</a>

	{% for recipe in recipes %}
	<div>
		{{recipe.title}}
		{% for photo in recipe.photos %}
			<img src="{{ asset(photo.webPath) }}" width="500">
		{% endfor %}
		<ul>
		{% for recipeingredient in recipe.recipeingredients %}
			<li>{{recipeingredient.amount}} {{recipeingredient.ingredient}}</li>
		{% endfor %}
		</ul>
		{{recipe.category}}

		{% if app.user %}
			<a href="{{path('design311website_recepten_like', {'recipeId': recipe.id})}}" class="like-button">
				{% if app.user in recipe.likedBy %}
				dislike this recipe
				{% else %}
				like this recipe
				{% endif %}
			</a>
		{% else %}
		    <a href="{{ path('design311website_login') }}">Login om dit recept te liken</a>
		{% endif %}

		{% if app.user == recipe.user %}
		    <a href="{{ path('design311website_recepten_edit', {'recipeId': recipe.id}) }}">edit</a>
		{% endif %}
	</div>
	<hr>
	{% endfor %}

{% endblock %}

{% block footer %}
	<script>
		$(function(){
			$('.like-button').click(function(){
				var link = $(this);
				//TODO add loader gif for slow json
				$.getJSON( $(this).attr('href'), function( data ) {
					if (data === 1) {
						link.text('dislike this recipe');
					}
					else{
						link.text('like this recipe');
					}
				});

				return false;
			})
		})
	</script>
{% endblock %}