{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block bodyclass %}recipepage{% endblock %}

{% block content %}
	<div class="newestrecipes">
		<div class="container">
			<h1 class="averia">Nieuwste recepten</h1>
			<div class="flexslider">
				<ul class="slides">
				{% for recipe in newestrecipes %}
					<li>
					{% if recipe.photos[0] is defined %}
						<div class="imagecontainer"><img src="{{ asset(recipe.photos[0].webPath) }}" alt="{{ recipe.photos[0].title }}" /></div>
					{% endif %}
						<div class="caption">
							<a href="#">{{ recipe.title }}</a>
						</div>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="recipecontent">	
		<div class="container">
			{% include 'Design311WebsiteBundle:Shared:recipes-sidebar.html.twig' %}
			<div class="two-third main">
				{% for category in categories %}
				    <div class="recipeblock{% if loop.index is even %} even{% endif %}">
				    	{% set lastrecipe = category.recipe | last %}
				    	<div class="orangehover inversed">
				    		<a href="{{ path('design311website_recepten_category', {'category': category.plural|lower})}}">
					    		<img src="{{ asset(lastrecipe.photos[0].webPath) }}" alt="{{ lastrecipe.photos[0].title }}" />
					    		<div class="hover">
					    			<h2 class="text">{{category.plural}}</h2>
					    		</div>
				    		</a>
				    	</div>
				    </div>
				{% endfor %}
			</div>
		</div>
	</div>

	<!-- {% for recipe in recipes %}
	<div>
		{{recipe.title}}
		{% for photo in recipe.photos %}
			<img src="{{ asset(photo.webPath) }}" width="500">
		{% endfor %}
		<ul>
		{% for recipeingredient in recipe.recipeingredients %}
			<li>{{recipeingredient.amount}} {{recipeingredient.ingredient}}</li>
		{% endfor %}
		</ul>
		{{recipe.category}}
	
		{% if app.user %}
			<p><a href="{{path('design311website_recepten_like', {'recipeId': recipe.id})}}" class="like-button">
				{% if app.user in recipe.likedBy %}
				dislike this recipe
				{% else %}
				like this recipe
				{% endif %}
			</a></p>
			<p><a href="{{path('design311website_recepten_save', {'recipeId': recipe.id})}}" class="save-button">
				{% if app.user in recipe.likedBy %}
				remove this recipe from saves
				{% else %}
				save this recipe
				{% endif %}
			</a></p>
			<p><a href="{{path('design311website_recepten_shop', {'recipeId': recipe.id})}}" class="shop-button">
				{% if app.user in recipe.shoppinglistFrom %}
				remove this recipe from shoppinglist
				{% else %}
				add recipe to shoppinglist
				{% endif %}
			</a></p>
		{% else %}
		    <p><a href="{{ path('design311website_login') }}">Login om dit recept te liken</a></p>
		{% endif %}
	
		{% if app.user == recipe.user %}
		    <p><a href="{{ path('design311website_recepten_edit', {'recipeId': recipe.id}) }}">edit</a></p>
		{% endif %}
	</div>
	<hr>
	{% endfor %} -->

{% endblock %}

{% block head %}
		<link rel="stylesheet" href="{{ asset('bundles/design311website/js/flexslider/flexslider.css') }}">
{% endblock %}

{% block footer %}
	<script src="{{ asset('bundles/design311website/js/flexslider/jquery.flexslider-min.js') }}"></script>
	<script>
		$(function(){
			$('.like-button').click(function(){
				var link = $(this);
				//TODO use different attribute
				//TODO add loader gif for slow json
				$.getJSON( $(this).attr('href'), function( data ) {
					if (data.status === 1) {
						link.text('dislike this recipe');
					}
					else{
						link.text('like this recipe');
					}
				});

				return false;
			})
			$('.save-button').click(function(){
				var link = $(this);
				//TODO add loader gif for slow json
				$.getJSON( $(this).attr('href'), function( data ) {
					if (data.status === 1) {
						link.text('remove this recipe from saves');
					}
					else{
						link.text('save this recipe');
					}
				});

				return false;
			})
			$('.shop-button').click(function(){
				var link = $(this);
				//TODO add loader gif for slow json
				$.getJSON( $(this).attr('href'), function( data ) {
					if (data.status === 1) {
						link.text('remove this recipe from shoppinglist');
					}
					else{
						link.text('add recipe to shoppinglist');
					}
					$('.shoppinglistcount').text(data.shoppinglistcount);
				});

				return false;
			})
		})
	</script>
{% endblock %}