{% extends 'Design311WebsiteBundle::layout.html.twig' %}

{% block title %}Jouw Winkellijstje - {{parent()}}{% endblock %}
{% block description %}Bekijk je winkellijstje, welke ingredi&euml;nten moet ik allemaal gaan kopen? Eenvoudig af te drukken lijstje voor in de winkel.{% endblock %}

{% block bodyclass %}shoppinglist printthis{% endblock %}

{% block content %}
<div class="container">
	<ul class="tabs">
		<li class="active"><a href="#" class="tab-ingredients">Ingredi&euml;nten</a></li>
		<li><a href="#" class="tab-recipes">Recepten</a></li>
		<li class="printshoppinglist"><a href="javascript:window.print()"><i class="sprite printer"></i>Print deze pagina</a></li>
	</ul>
	<div id="ingredients" class="ingredients">
		<div class="onehalf">
		<p><strong>Ingredi&euml;nten voor de volgende recepten:</strong></p>
			<ul class="recipelist">
				{% for recipe in shoppinglist %}
		    	<li>{{recipe.title}}</li>
		    {% endfor %}
			</ul>
		</div>
		<div class="onehalf last">
			<form action="{{ path('design311website_user_aantal_personen') }}" method="get" class="ingredientpersons">
				<p><label for="aantal">Ingredi&euml;nten voor <input type="text" name="aantal" id="aantal" value="{{app.user.aantalPersonen}}" class="aantal"> personen </label></p>
			</form>
			<ul class="ingredientlist">
				{% for ingredient, amount in ingredients %}
					<li>{{amount}} {{ingredient}}</li>
			    {% endfor %}
			</ul>
			<p></p>
		</div>
	</div>
	<div id="recipes" class="recipes" style="display:none;">
	    {% for recipe in shoppinglist %}
	    	<div>
		    	<h2>{{recipe.title}}</h2>
		    	<ul class="recipemeta">
					<li><i class="pot sprite" title="Bereidingstijd"></i>{{recipe.cookingTime}} minuten</li>
					<li><i class="bestek sprite" title="Klaar om op te genieten"></i>{{recipe.readyTime}} minuten</li>
				</ul>
				<div class="clear"></div>
		    	<div class="ingredients">
					<h3>Ingredi&euml;nten</h3>
					<ul>
					{% for ingredient in recipe.recipeingredients %}
						<li>{{ingredient.amount}} {{ingredient.ingredient}}</li>
					{% endfor %}
					</ul>
				</div>
				<div class="clear"></div>

				<h3>Bereidingswijze</h3>
				{{recipe.recipe|markdown}}
				<div class="clear"></div>
			</div>
	    {% endfor %}
	</div>
</div>
{% endblock %}

{% block footer %}
    <script>
		$(function(){
			var ingredients = $('#ingredients');
			var recipes = $('#recipes');
			var tabs = $('.tabs');

			$('.tab-ingredients').click(function(){
				tabs.children().removeClass('active');
				$(this).parent().addClass('active');
				recipes.hide();
				ingredients.fadeIn(600);
			})

			$('.tab-recipes').click(function(){
				tabs.children().removeClass('active');
				$(this).parent().addClass('active');
				ingredients.hide();
				recipes.fadeIn(600);
			})

			$('.aantal').blur(function(){
				$('form').submit();
			})
		})
    </script>
{% endblock %}