<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Chaw{% endblock %}</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400|Averia+Libre' rel='stylesheet' type='text/css'>
	{% block head %}{% endblock %}
	<link rel="stylesheet" href="{{ asset('bundles/design311website/style.css') }}">
	<script type='text/javascript'>
	var BugHerdConfig = {
		"reporter": {
			"required":"true"
		}
	};
	(function (d, t) {
	  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
	  bh.type = 'text/javascript';
	  bh.src = '//www.bugherd.com/sidebarv2.js?apikey=kt4mldn3ozwspifeszwqyq';
	  s.parentNode.insertBefore(bh, s);
	  })(document, 'script');
	</script>
</head>
<body class="{% block bodyclass %}{% endblock %} {{ app.user ? 'loggedin' : 'loggedout'}}">
	{% for flashMessage in app.session.flashbag.get('success') %}
	    <div class="flash flash-success">
	        {{ flashMessage }} <a href="#" class="flash-close">(x)</a>
	    </div>
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('error') %}
	    <div class="flash flash-error">
	        {{ flashMessage }} <a href="#" class="flash-close">(x)</a>
	    </div>
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
	    <div class="flash flash-notice">
	        {{ flashMessage }} <a href="#" class="flash-close">(x)</a>
	    </div>
	{% endfor %}
	{% if not (app.request.attributes.get('_route') == 'design311website_homepage' and not app.user) %}
	<div class="header">
		<div class="topbar">
			<div class="container">
				{% if app.user %}
				<div class="login"><a href="{{ path('design311website_profile_view', {'username': app.user.username}) }}">{{app.user.displayname}}</a><a href="{{ path('design311website_recepten_shoppinglist') }}">Winkellijstje bekijken (<span class="shoppinglistcount">{{app.user.shoppinglist|length}}</span>)</a><a href="{{ path('design311website_logout') }}">Logout</a></div>
				{% else %}
				<div class="login"><a href="{{ path('design311website_login') }}">Login</a><a href="{{ path('design311website_register') }}">Registreren</a></div>
				{% endif %}
				<div class="clear"></div>
			</div>
		</div>
		<div class="container">
			<ul class="menu">
				<li class="logo notranslate"><a href="{{ path('design311website_homepage') }}">Chaw</a></li>
				<li><a href="{{ path('design311website_dinners') }}">Dinners</a></li>
				<li><a href="{{ path('design311website_recepten') }}">Recepten</a></li>
				<li><a href="#" class="tooltip" title="Binnenkort beschikbaar">Foto's</a></li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	{% endif %}
	{% block content %}{% endblock %}
	
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="{{ asset('bundles/design311website/js/tipsy/jquery.tipsy.min.js') }}"></script>
	<link rel="stylesheet" href="{{ asset('bundles/design311website/js/tipsy/jquery.tipsy.css') }}">
	{% block footer %}{% endblock %}
	<script>var loginpage = "{{path('design311website_login_required', {'auth': 'auth'})}}"</script>
	<script src="{{ asset('bundles/design311website/js/script.js') }}"></script>
</body>
</html>