<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Chaw: Social Dining & Recepten{% endblock %}</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400%7cAveria+Libre' rel='stylesheet' type='text/css'>
	{% block head %}{% endblock %}
	<link rel="stylesheet" href="{{ asset('bundles/design311website/style.css?v1.5') }}">
	<link rel="stylesheet" href="{{ asset('bundles/design311website/print.css?v1.2') }}" media="print">
	<link rel="stylesheet" href="{{ asset('bundles/design311website/js/tipsy/jquery.tipsy.css') }}">
	<link rel="icon" href="{{ asset('bundles/design311website/img/favicon.ico') }}" type="image/x-icon" />
	<link rel="shortcut icon" href="{{ asset('bundles/design311website/img/favicon.ico') }}" type="image/x-icon" />
	<meta name="description" content="{% block description %}Food-community voor iedereen die van lekker eten houd. Doorzoek de recepten of ga eens lekker eten bij een andere Foodie.{% endblock %}">
	<meta property="og:title" content="{{block('title')}}" />
	<meta property="og:description" content="{{block('description')}}" />
	<meta property="og:image" content="{% block ogimage %}{{ app.request.uriForPath('/bundles/design311website/img/chaw.png') }}{% endblock %}" />
	<meta property="og:site_name" content="Chaw: Social Dining &amp; Recepten" />
	<meta name="viewport" content="initial-scale=1, width=device-width">
</head>
<body class="{% block bodyclass %}{% endblock %} {{ app.user ? 'loggedin' : 'loggedout'}}">
	{% for flashMessage in app.session.flashbag.get('success') %}
	    <div class="flash flash-success">
	        {{ flashMessage }} <a href="#" class="flash-close">(x)</a>
	    </div>
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('error') %}
	    <div class="flash flash-error">
	        {{ flashMessage }} <a href="#" class="flash-close">(x)</a>
	    </div>
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
	    <div class="flash flash-notice">
	        {{ flashMessage }} <a href="#" class="flash-close">(x)</a>
	    </div>
	{% endfor %}
	{% if not (app.request.attributes.get('_route') == 'design311website_homepage' and not app.user) %}
	<div class="header">
		<div class="topbar">
			<div class="container">
				{% if app.user %}
				<div class="login"><a href="{{ path('design311website_profile_view', {'username': app.user.username|lower}) }}">{{app.user.displayname}}</a><a href="{{ path('design311website_recepten_shoppinglist') }}">Winkellijstje bekijken (<span class="shoppinglistcount">{{app.user.shoppinglist|length}}</span>)</a><a href="{{ path('design311website_logout') }}">Logout</a></div>
				{% else %}
				<div class="login"><a href="{{ path('design311website_login') }}">Login</a><a href="{{ path('design311website_register') }}">Registreren</a></div>
				{% endif %}
				<div class="clear"></div>
			</div>
		</div>
		<div class="container">
			<ul class="menu desktop">
				<li class="logo notranslate"><a href="{{ path('design311website_homepage') }}">Chaw</a></li>
				<li><a href="{{ path('design311website_homepage') }}"{% if 'design311website_homepage' == app.request.attributes.get('_route') %} class="active"{% endif %}>Home</a></li>
				<li><a href="{{ path('design311website_dinners') }}"{% if 'dinners' in app.request.attributes.get('_route') %} class="active"{% endif %}>Dinners</a></li>
				<li><a href="{{ path('design311website_recepten') }}"{% if 'recepten' in app.request.attributes.get('_route') %} class="active"{% endif %}>Recepten</a></li>
				<!-- <li><a href="#" class="tooltip" title="Binnenkort beschikbaar">Foodspiration</a></li> -->
			</ul>
			<div class="menu mobile">
				<h1 class="logo notranslate"><a href="{{ path('design311website_homepage') }}">Chaw</a></h1>
				<a href="#" class="menutoggle">Menu</a>
				<ul>
					<li><a href="{{ path('design311website_dinners') }}">Dinners</a></li>
					<li><a href="{{ path('design311website_recepten') }}">Recepten</a></li>
					{% if app.user %}
						<li><a href="{{ path('design311website_profile_view', {'username': app.user.username|lower}) }}">{{app.user.displayname}}</a></li>
						<li><a href="{{ path('design311website_recepten_shoppinglist') }}">Winkellijstje bekijken (<span class="shoppinglistcount">{{app.user.shoppinglist|length}}</span>)</a><a href="{{ path('design311website_logout') }}">Logout</a></li>
					{% else %}
						<li><a href="{{ path('design311website_login') }}">Login</a></li>
						<li><a href="{{ path('design311website_register') }}">Registreren</a></li>
					{% endif %}
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	{% endif %}
	<h1 class="print averia print-title">Chaw.be</h1>
	<p class="print print-notice">Waarom zou je deze pagina willen printen? Laat het ons weten: <a href="mailto:info@chaw.be">info@chaw.be</a></p>
	<div class="contentblock">
	{% block content %}{% endblock %}
	</div>
	
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="{{ asset('bundles/design311website/js/tipsy/jquery.tipsy.min.js') }}"></script>
	{% block footer %}{% endblock %}
	<script>var loginpage = "{{path('design311website_login_required', {'auth': 'auth'})}}"</script>
	<script src="{{ asset('bundles/design311website/js/script.js') }}"></script>
	<script type='text/javascript'>
	var BugHerdConfig = {
		feedback: {
			tab_text: "Feedback versturen",
			option_title_text: "Kies een optie",
			option_pin_text: "Ik wil graag iets op deze pagina aanwijzen.",
			option_site_text: "Ik heb feedback over deze pagina in z'n geheel.",
			pin_instruction_text: "Beweeg de muis over pagina-elementen en klik om een positie aan te geven.",
			feedback_entry_placeholder: "schrijf hier uw feedback",
			feedback_email_placeholder: "uw e-mailadres (verplicht)",
			feedback_submit_text: "verstuur feedback",
			confirm_success_text: "Uw feedback is verstuurd.",
			confirm_loading_text: "Versturen van feedback...",
			confirm_close_text: "sluiten",
			confirm_error_text: "Versturen van feedback niet gelukt.",
			confirm_retry_text: "Probeer opnieuw",
			confirm_extension_text: "Wist u dat u een screenshot aan uw feedback kon toevoegen?",
			confirm_extension_link_text: "Meer informatie.",
		},
		"reporter": {
			"required":"true"
		}
	};
	(function (d, t) {
	  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
	  bh.type = 'text/javascript';
	  bh.src = '//www.bugherd.com/sidebarv2.js?apikey=kt4mldn3ozwspifeszwqyq';
	  s.parentNode.insertBefore(bh, s);
	  })(document, 'script');
	</script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-22029665-14', 'chaw.be');
		ga('send', 'pageview');
	</script>
</body>
</html>